.Web-display {
    display: block;
}

.Mobile-display {
    display: none;
}

body {
    font-size: 100%;
}

video {
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    overflow: hidden;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%, rgba(102, 49, 124, 0.1) 80%, rgba(102, 49, 124, 0.2) 100%);
}

// #page1 {
//     background: radial-gradient(ellipse at center, rgba(102, 49, 124, 0.1) 0%, rgba(102, 49, 124, 0.1) 50%, rgba(102, 49, 124, 0.2) 100%);

// }

// #page3 {
//     background: radial-gradient(ellipse at center, rgba(102, 49, 124, 0.1) 0%, rgba(102, 49, 124, 0.1) 50%, rgba(102, 49, 124, 0.2) 100%);
// }

h1 {
    font-size: 3em;
    line-height: 100%;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    line-height: 100%;
}

h3 {
    font-size: 1em;
    line-height: 100%;
}

.title {
    border-left: 8px solid @theme-color;
}

.web-title {
    background: linear-gradient(45deg, rgba(102, 49, 124, 0) 0%, rgba(102, 49, 124, 0.3) 60%, rgba(102, 49, 124, 1) 90%);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;

    h1 {
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;
        border: none;
        font-size: 4em;
        top: 0;
        left: 50%;
        border-bottom: 2px solid @theme-color;
        .less-transform(330deg);
        animation: h1-enter 1s;
    }

    h2 {
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;
        left: 100%;
        margin-top: 8px;
        border-bottom: 2px solid @theme-color;
        .less-transform(330deg);
    }

    h2:nth-child(2) {
        animation: h2-enter 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }

    h2:nth-child(3) {
        animation: h2-enter 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    h2:nth-child(4) {
        animation: h2-enter 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
    }

    h2:nth-child(5) {
        animation: h2-enter 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
}

.profile-education {
    height: 90%;
    width: 50%;
    float: left;
    padding: 5%;
    display: none;
    font-size: 16px;

    >div {
        height: 95%;
        width: 100%;
        padding: 5%;
        margin-top: 5%;
        .less-box-shadow(12px 8px 4px 1px rgba(47, 51, 58, 0.2));
        border: 8px solid rgba(255, 255, 255, 0.2);
        background: rgba(102, 49, 124, 0.5);
        color: @white-color;
    }
}

.profile-info {
    height: 50%;
    width: 50%;
    color: rgb(255, 255, 255);
    float: right;
    display: none;
    padding: 5% 5% 0% 0%;

    >div {

        height: 100%;
        width: 100%;
        padding: 5%;
        .less-box-shadow(12px 8px 4px 1px rgba(47, 51, 58, 0.2));
        border: 8px solid rgba(255, 255, 255, 0.2);
        background: rgba(102, 49, 124, 0.5);
        color: @white-color;
    }

    p {
        font-size: 1em;
    }
}

.profile-statement {
    height: 50%;
    width: 50%;
    float: right;
    padding: 1% 5% 5% 0%;
    display: none;

    >div {
        height: 100%;
        width: 100%;
        padding: 5%;
        .less-box-shadow(12px 8px 4px 1px rgba(47, 51, 58, 0.2));
        border: 8px solid rgba(255, 255, 255, 0.2);
        background: rgba(102, 49, 124, 0.5);
        color: @white-color;
    }

    p {
        font-size: 1em;
    }
}

.wave-box {
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.wave {
    background: url(../image/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.4;
}

.wave:nth-of-type(2) {
    animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

.skill-title {
    height: 10%;
    width: calc(100% - 48px);
    padding-top: 24px;
    margin-left: 48px;
}

.skill-box {
    height: 90%;
    width: 100%;
    position: relative;
}

.skill-img {
    height: 40%;
    width: 60%;
    position: absolute;
    bottom: -10%;
    left: -20%;
    background-size: 100% 100% !important;
    opacity: 0.8;
    .less-transform(25deg);
    border-radius: 20%;
    filter: grayscale(50%);
}

.skill-img::after {
    height: 110%;
    width: 110%;
    position: absolute;
    bottom: -8%;
    left: -8%;
    display: block;
    content: '';
    border: 3px solid @theme-color;
    .less-transform(350deg);
    border-radius: 20%;
}

.skill-button {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(102, 49, 124, 0.8);
    padding: 8px 24px;
    font-size: 1em;
    font-weight: 600;
    color: @white-color;
    transition: all .6s;
    border-radius: 5%;
    border: 2px solid rgba(102, 49, 124, 0);

}

.skill-button:hover {
    cursor: pointer;
    opacity: 0.8;
    border: 2px solid rgba(102, 49, 124, 1);
}

.skill-content {
    height: 60%;
    width: 100%;
    padding: 5%;
    color: #444;

    p {
        font-size: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.content-title {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #444;
    width: 150px;
    height: 150px;
    font-size: 2em;
    padding-top: 10px;
}

.content-title::after {
    position: absolute;
    top: -65px;
    right: -20px;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    .less-transform(75deg);
    border-radius: 20%;
}

.is-expanded {
    .expanded-content {
        .skill-img {
            height: 100%;
            width: 30%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: 100% 100% !important;
            border-radius: 0%;
            .less-transform(0deg);
            filter: grayscale(0%);
        }

        .skill-img::after {
            display: none;
        }

        .content-title {
            right: 48px;
            color: #444;
            width: 150px;
            height: 150px;
            font-size: 2em;
            padding-top: 10px;
        }

        .skill-content {
            height: 100%;
            width: 70%;
            float: right;
            padding: 5%;
            color: #444;

            p {
                font-size: 1.5em;
                line-height: 180%;
                overflow: visible;
                white-space: pre-line;
                text-overflow: none;
            }
        }
    }
}

.expanded-box {
    z-index: 0;
    width: 30%;
    height: 90%;
    overflow: hidden;
    transition: all 800ms;
    position: absolute;
    .less-box-shadow(16px 8px 8px 1px rgba(47, 51, 58, 0.2));
}

.expanded-box:nth-child(1) {
    top: 5%;
    left: 2.5%;
    background: linear-gradient(90deg, rgba(219, 237, 255, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -moz-linear-gradient(90deg, rgba(219, 237, 255, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -webkit-linear-gradient(90deg, rgba(219, 237, 255, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -o-linear-gradient(90deg, rgba(219, 237, 255, 0.9)0%, rgba(255, 255, 255, 1)30%);

    .content-title::after {
        background: rgb(219, 237, 255);
    }
}

.expanded-box:nth-child(2) {
    top: 5%;
    left: 35%;
    background: linear-gradient(90deg, rgba(255, 203, 179, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -moz-linear-gradient(90deg, rgba(255, 203, 179, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -webkit-linear-gradient(90deg, rgba(255, 203, 179, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -o-linear-gradient(90deg, rgba(255, 203, 179, 0.9)0%, rgba(255, 255, 255, 1)30%);

    .content-title::after {
        background: rgb(255, 203, 179);
    }
}

.expanded-box:nth-child(3) {
    top: 5%;
    left: 67.5%;
    background: linear-gradient(90deg, rgba(255, 255, 194, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 194, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 194, 0.9)0%, rgba(255, 255, 255, 1)30%);
    background: -o-linear-gradient(90deg, rgba(255, 255, 194, 0.9)0%, rgba(255, 255, 255, 1)30%);

    .content-title::after {
        background: rgb(255, 255, 194);
    }
}

.expanded-box:nth-child(1).is-expanded {
    position: absolute;
    top: 5%;
    left: 2.5%;
    z-index: 1000;
    width: 95%;
    z-index: 900;
}

.expanded-box:nth-child(2).is-expanded {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 95%;
    z-index: 900;
}

.expanded-box:nth-child(3).is-expanded {
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: 95%;
    z-index: 900;
}

.expanded-switch {
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% - 36px);
    width: 36px;
    height: 36px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
    z-index: 800;
    border-radius: 50%;
    text-align: center;
}

.expanded-switch:before {
    background-color: #666;
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 2px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 16px;
    left: 2px;
}

.expanded-switch:after {
    background-color: #666;
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 2px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 16px;
    right: 2px;
}

.expanded-button {
    display: block;
}

.is-expanded {
    .expanded-switch {
        display: block;
        position: absolute;
        top: 0;
        left: calc(100% - 36px);
        width: 36px;
        height: 36px;
        font-size: 2em;
        color: #fff;
        cursor: pointer;
        z-index: 800;
        border-radius: 50%;
        text-align: center;
    }

    .expanded-switch:before {
        display: block;
        content: '';
        position: absolute;
        width: 32px;
        height: 3px;
        border-radius: 2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 16px;
        left: 2px;
    }

    .expanded-switch:after {
        display: block;
        content: '';
        position: absolute;
        width: 32px;
        height: 3px;
        border-radius: 2px;
        top: 16px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 2px;
    }

    .expanded-button {
        display: none;
    }
}

.expanded-content {
    height: 100%;
    color: #fff;
}

.protfolio-title {
    padding: 5%;
    height: 100%;
    width: 30%;
    float: left;
}

.protfolio-item-box {
    width: 70%;
    height: 100%;
    float: right;
}

.protfolio-info {
    width: 40%;
    height: 60%;
    background: @theme-color;
    position: absolute;
    // left: 10%;
    top: 12%;
    padding: 5%;
    // border-radius: 100%;
    color: @white-color;
}

.protfolio-img {
    width: 70%;
    height: 80%;
    background-size: 100% 100% !important;
    position: absolute;
    left: 20%;
    // border-radius: 100%;
}

.carousel {
    width: 100%;
    height: 90%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    padding: 5%;
    height: 100%;
    width: 100%;
}

.communicate-box {
    width: 50%;
    float: left;
    height: 80%;
    padding: 0% 5%;
}


.communicate-box form {
    height: 90%;
    width: 100%;
}

.communicate-box input {
    width: 40%;
    margin: 5px;
    padding: 10px;
}

.communicate-box textarea {
    resize: none;
    width: 82%;
    height: 30%;
    margin: 5px;
    padding: 10px;
}

.thx-box {
    width: 50%;
    float: left;
    height: 80%;
    padding: 0% 5%;
}

.thx-box p {
    margin-top: 20px;
    font-size: 16px;
}

.footer-box {
    float: left;
    color: rgb(210, 212, 213);
    background: radial-gradient(ellipse at center, rgba(102, 49, 124, 1) 0%, rgba(102, 49, 124, 0.9) 90%, rgba(102, 49, 124, 0.8) 100%);
    width: 100%;
    height: 20%;
    padding: 5px 25px;
}

.footer-box {
    p {
        font-size: 16px;
        font-weight: 600;
    }

    span {
        font-size: 1.5em;
        font-weight: 600;
    }
}

@-webkit-keyframes h1-enter {
    0% {
        top: -100%;
        left: 100%;
    }

    60% {
        top: 0%;
        left: 45%;
    }

    100% {
        top: 0%;
        left: 50%;
    }
}

@keyframes h1-enter {
    0% {
        top: -100%;
        left: 100%;
    }

    60% {
        top: 0%;
        left: 45%;
    }

    100% {
        top: 0%;
        left: 50%;
    }
}

@-webkit-keyframes h2-enter {
    0% {
        top: -100%;
        left: 100%;
    }

    60% {
        top: 0%;
        left: 55%;
    }

    100% {
        top: 0%;
        left: 60%;
    }
}

@keyframes h2-enter {
    0% {
        top: -100%;
        left: 100%;
    }

    60% {
        top: 0%;
        left: 55%;
    }

    100% {
        top: 0%;
        left: 60%;
    }
}