@import "initial.css";
@import "mobile.less"screen and (min-width: 0px) and (max-width: 767px);
@import "desktop.less"screen and (min-width: 768px);

@dark-color: rgb(47, 51, 58);
@white-color: #f1e1ff;
@theme-color: rgb(102, 49, 124);

.less-transform(@deg) {
    transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
    -o-transform: rotate(@deg);
}

.less-box-shadow(@value) {
    box-shadow: @value;
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    -o-box-shadow: @value;
}

::selection {
    background: @theme-color;
    color: rgb(242, 242, 242);
}

::-moz-selection {
    background: @theme-color;
    color: rgb(242, 242, 242);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(167, 160, 155);
    border-radius: 5px;
    width: 8px;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    font-family: 'Microsoft JhengHei';
    // background: radial-gradient(ellipse at center, rgba(102, 49, 124, 0.1) 0%, rgba(102, 49, 124, 0.2) 45%, rgba(102, 49, 124, 0.3) 100%);
    color: @dark-color;
}

.translate {
    font-size: 32px;
    font-weight: 900;
    color: rgba(102, 49, 124, 0.2);
    transition: 400ms all;
}

.translate:hover {
    cursor: pointer;
    color: @theme-color;
}

.language-select {
    color: @theme-color;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#A76285' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#A76285' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/></svg>");
}

.remove-bootstrap-carousel-control {
    width: 5%;
}

.remove-bootstrap-carousel-control>span {
    height: 40px;
    width: 40px;
}

.carousel-indicators {
    li {
        background: @theme-color;
        height: 0.8em;
        width: 0.8em;
        border-radius: 100%;
        opacity: 0.2;
    }

    .active {
        background: @theme-color;
        opacity: 1;
    }
}

.animation-text-show {
    position: relative;
    overflow: hidden;
    animation: text-show 4s;
    opacity: 1;
    display: block !important;
}

.animation-text-show:after {
    background-color: @theme-color;
    display: block !important;
    opacity: 1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    animation: text-show-after 5s;
    height: 100%;
    .less-transform(45deg);
}

@-webkit-keyframes text-show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text-show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes text-show-after {
    0% {
        left: -50%;
        top: 50%;
        width: 100%;
    }

    100% {
        left: 0%;
        width: 2000%;
    }
}

@keyframes text-show-after {
    0% {
        left: -100%;
        top: 50%;
        width: 100%;
    }

    100% {
        left: 0%;
        top: 0%;
        width: 1000%;
    }
}