@import "initial.css";
@import "mobile.less"screen and (min-width: 0px) and (max-width: 767px);
@import "desktop.less"screen and (min-width: 768px);

@dark-color: rgb(47, 51, 58);
@white-color: rgb(242, 242, 242);
@theme-color: rgb(102, 49, 124);

.less-transform(@deg) {
    transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
    -o-transform: rotate(@deg);
}

.less-box-shadow(@value) {
    box-shadow: @value;
    -webkit-box-shadow: @value;
    -moz-box-shadow: @value;
    -o-box-shadow: @value;
}

::selection {
    background: @theme-color;
    color: rgb(242, 242, 242);
}

::-moz-selection {
    background: @theme-color;
    color: rgb(242, 242, 242);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(167, 160, 155);
    border-radius: 5px;
    width: 8px;
}

* {
    word-break: break-all;
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    font-family: 'Microsoft JhengHei';
    // background: radial-gradient(ellipse at center, rgba(102, 49, 124, 0.1) 0%, rgba(102, 49, 124, 0.2) 45%, rgba(102, 49, 124, 0.3) 100%);
    color: @dark-color;
}

.translate {
    font-size: 32px;
    font-weight: 900;
    color: rgba(102, 49, 124, 0.2);
    transition: 400ms all;
}

.translate:hover {
    cursor: pointer;
    color: @theme-color;
}

.language-select {
    color: @theme-color;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#A76285' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#A76285' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.remove-bootstrap-carousel-control {
    width: 5%;
}

.remove-bootstrap-carousel-control>span {
    height: 40px;
    width: 40px;
}

.carousel-caption>h3 {
    color: #444;
}

.carousel-indicators {
    .active {
        background: #444;
    }
}

.animation-text-show {
    position: relative;
    overflow: hidden;
    animation: text-show 5s;
    opacity: 1;
    display: block;
}

.animation-text-show:after {
    background-color: @theme-color;
    display: block;
    opacity: 1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    animation: text-show-after 5s;
    height: 100%;
    .less-transform(45deg);
}

@-webkit-keyframes text-show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text-show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes text-show-after {
    0% {
        left: -50%;
        top: 50%;
        width: 100%;
    }

    100% {
        left: 0%;
        width: 2000%;
    }
}

@keyframes text-show-after {
    0% {
        left: -100%;
        top: 50%;
        width: 100%;
    }

    100% {
        left: 0%;
        top: 0%;
        width: 1000%;
    }
}

/* From Middle */
.button {
    position: absolute;
    font-weight: 900;
    transition: all .3s cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;   
    text-align: center;
    padding: 2%;
    width: 30%;
    bottom: 10px;
    right: 10px;
    border: 2px solid @dark-color;
    font-size: 16px;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.button:hover {
    color: rgb(255,255,255);
    transition-delay: .3s;
}

.button:hover:before {
    transition-delay: 0s;
}

.button:hover:after {
    background: rgba(102, 49, 124,0.5);
    transition-delay: .2s;
}

.from-middle:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid rgba(102, 49, 124,0.5);
    border-left: 0;
    border-right: 0;
}

.from-middle:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: rgba(102, 49, 124,0.5);
}

.from-middle:hover:before {
    left: 0;
    width: 100%;
}

.from-middle:hover:after {
    top: 0;
    height: 100%;
}

